<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitsta.model.dao.EnterUserDao">
	<!-- 회원 가입 -->
	<insert id="enterUser" parameterType="EnterUser">
		INSERT INTO user (name, email, password, nickname, profileImg)
		VALUES (#{name}, #{email}, #{password}, #{nickname}, #{profileImg});
	</insert>

	<!-- 중복체크 -->
	<select id="check" parameterType="String" resultType="EnterUser">
		SELECT name, email, password, nickname, profileImg FROM user WHERE email = #{id}
	</select>

	<!-- 사진제외 유저 정보수정 -->
	<update id="updateUserInfo" parameterType="EnterUser">
		UPDATE user
		SET name = #{name}, nickname = #{nickname}
		WHERE userId = #{password};
	</update>
	<update id="updateUserInfoWhthImg" parameterType="EnterUser">
		UPDATE user
		SET name = #{name}, nickname = #{nickname}, profileImg = #{profileImg}
		WHERE userId = #{password};
	</update>


	<select id="getUserIdByEmail" parameterType="String" resultType="int">
		SELECT userId from user WHERE email = #{email};
	</select>

	<select id="getUserNickname" parameterType="int" resultType="String">
		SELECT nickname from user WHERE userId = #{userId};
	</select>

	<select id="getUserInfoByEmail" resultType="EnterUser" parameterType="String">
		SELECT userId, name, email, nickname, profileImg FROM user WHERE email = #{email};
	</select>
</mapper>