<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitsta.model.dao.FollowDao">
	<!--팔로우-->
	<insert id="follow" parameterType="Integer">
		INSERT INTO follow
		VALUES
	</insert>
	<!--언팔로우-->
	<delete id="unFollow" parameterType="Integer">

	</delete>
</mapper>