<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitsta.model.dao.SearchUserDao">
	
	<!-- 팔로우 순 20명 유저 -->
	<select id="getUserListLimitTwenty" parameterType="int" resultType="SearchUser">
		SELECT A.userId, A.profileImg, A.nickname, A.name,
			   (SELECT COUNT(*) FROM follow WHERE followerId = A.userId) as followerCount,
			   (SELECT COUNT(*) FROM follow WHERE followingId = #{ myId } and followerId = A.userId) AS isFollow
		FROM user A
		WHERE userId != #{ myId }
		ORDER BY followerCount DESC Limit 20;
	</select>

	<select id="searchUserByNameAndNickname" parameterType="String" resultType="SearchUser">
		SELECT A.userId, A.profileImg, A.nickname, A.name,
		(SELECT COUNT(*) FROM follow WHERE followerId = A.userId) as followerCount,
		(SELECT COUNT(*) FROM follow WHERE followingId = #{ myId } and followerId = A.userId) AS isFollow
		FROM user A
		WHERE userId != #{ myId } AND (A.nickname LIKE concat('%', #{ keyword }, '%') or
									   A.nickname LIKE concat('%', #{ keyword }, '%'))
	</select>

	<select id="getFollowerList" parameterType="Integer" resultType="SearchUser">
		SELECT u.userId, u.profileImg, u.nickname, u.name,
			   (SELECT COUNT(*) FROM follow WHERE followingId = #{userId} and followerId = u.userId) AS isFollowing
		FROM user u;
	</select>

	<select id="getFollowingList" parameterType="Integer" resultType="SearchUser">
		SELECT u.userId, u.profileImg, u.nickname, u.name,
			   (SELECT COUNT(*) FROM follow WHERE followerId = #{userId} and followerId = u.userId) AS isFollowed
		FROM user u;
	</select>
	
</mapper>